body{
    
    flex-direction: column;
    display: flex;
}
*{
    margin: 0;
    padding: 0;
    flex-direction: column;
    font-size: none;
}
td{
    text-align: center;
    font-size: 10px;
    justify-content: space-between;
    
}
section{
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#couleur1{
    background-color: #8578B9 ;
}
#couleur2{
    background-color: #4ec0e6 ;
}
#couleur3{
    background-color: #66f2ca ;
}
#couleur4{
    background-color: #91D9C4 ;
}
#couleur5{
    background-color: #F09C82 ;
}
#couleur6{
    background-color: #F2FAC9 ;
}
#couleur7{
    background-color: #F1CAA7 ;
}
#couleur8{
    background-color: #E5E8BC ;
}
#couleur9{
    background-color: #D4856B ;
}
#couleur10{
    background-color: #914F70 ;
}
#mdl{
 border-radius:  100%;
    height: 130px;
    width: 130px;
}
.photo{
    margin-top: 3%;
    margin-left: 80%;
} 


@media screen and (min-width: 1000px) {
    body{
        font-size: 10px;
        
    }
   
}
@media screen and (max-width: 1000px) {
    td, p{
        font-size: 10px;
    }
}
@media screen and (max-width: 920px) {
    td, p{
        font-size: 9px;
    }
    #mdl{
       
        height: 110px;
        width: 110px;
    }
}
@media screen and (max-width: 900px) {
    td, p{
        font-size: 8px;
    }
    #mdl{
        
        height: 90px;
        width: 90px;
    }
}
@media screen and (max-width: 850px) {
    td, p{
        font-size: 7px;
    }
    #mdl{
        
        height: 70px;
        width: 70px;
    }
}
@media screen and (max-width: 700px) {
    td, p{
        font-size: 6px;
    }
    #mdl{
        
        height: 50px;
        width: 50px;
    }
}
@media screen and (max-width: 500px) {
    td, p{
        font-size: 5px;
    }
}
@media screen and (max-width: 200px) {
    td, p{
        font-size: 4px;
    }
}